*
{
    margin: 0;
    padding: 0;
}

body
{
    background: #1A1A2E;
}

.wrapper
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 24px;
    gap: 24px;
}

.note-container
{
    background-color: #16213E;
    color: #F7F7F7;
    border-radius: 0 0 15px 0;
}

.note-container:hover
{
    cursor: pointer;
}

.note-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 0 12px;
}

.note-title
{
    width: 64%;
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.note-date
{
    font-size: 12px;
    font-weight: 400;
    opacity: 0.2;
}

.note .expanded
{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    padding: 0px 0px 0px 0px;
}

.note
{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    padding: 0px 12px 0px 12px;
}

.note-buttons
{
    align-items: left;
    justify-items: space-between;
    padding: 12px 12px 12px 12px;
}

.view-note
{
    width: 15%;
    border: none;
    background-color: #3eb47d;
    color: #fff;
    font-size: 20px;
}

.edit-note
{
    width: 15%;
    border: none;
    background-color: #FF9F29;
    color: #fff;
    font-size: 20px;
}

.delete-note
{
    width: 15%;
    border: none;
    background-color: #E23E57;
    color: #fff;
    font-size: 20px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color:#29C7AC;
    border: none;
	color:#FFF;
	border-radius:50px;
	text-align:center;
}

.my-float{
	margin-top:22px;
}


/* RESPONSIVE */

/* Mobile */
@media only screen and (max-width: 600px) 
{
    .note-title
    {
        width: 55%;
    }

    .note
    {
        padding: 0px 12px 0px 12px;
    }
}

/* Tablet, Mobil vertical */
@media only screen and (min-width: 600px) 
{
    .note-title
    {
        width: 75%;
    }

    .note
    {
        padding: 0px 12px 0px 12px;
    }
}

/* Tablet, Mobil horizontal */
@media only screen and (min-width: 768px) 
{
    .note-title
    {
        width: 62%;
    }
    .note
    {
        padding: 0px 12px 0px 12px;
    }

    .float
    {
        width: 95%;
    }
}

/* Laptop, Desktop */
@media only screen and (min-width: 992px) 
{
    .note-title
    {
        width: 55%;
    }
    .note
    {
        padding: 0px 12px 0px 12px;
    }

    .float
    {
        width: 96%;
    }

}

/* Large device size */
@media only screen and (min-width: 1200px) 
{
    .note-title
    {
        width: 62%;
    }
    .note
    {
        padding: 0px 12px 0px 12px;
    }

    .float
    {
        width: 65px;
    }
}